<link rel="stylesheet" href="css/search_page.css">
<link rel="stylesheet" href="css/route_list.css">

<ons-page ng-controller='SearchController'>

    <div id="search-area" class="navigation-bar navigation-bar--transparent">
        <form id="route-finder-box" ng-submit="search()">
            <input type="search" value="" placeholder="キーワード検索" id="key-search" class="search-input">
        </form>
    </div>
    
    <ons-row id="scene">

        <ons-col class="action-col date" ng-click='click_search("カップル")'>
          <div class="action-icon"><ons-icon icon="ion-heart"></ons-icon></div>
          <div class="action-label">恋人と</div>
        </ons-col>

        <ons-col class="action-col friend" ng-click='click_search("友達")'>
          <div class="action-icon"><ons-icon icon="ion-person-stalker"></ons-icon></div>
          <div class="action-label">友達と</div>
        </ons-col>

        <ons-col class="action-col family" ng-click='click_search("子連れ")'>
          <div class="action-icon"><ons-icon icon="ion-home"></ons-icon></div>
          <div class="action-label">家族と</div>
        </ons-col>

        <ons-col class="action-col single" ng-click='click_search("一人旅")'>
          <div class="action-icon"><ons-icon icon="ion-happy-outline"></ons-icon></div>
          <div class="action-label">一人旅</div>
        </ons-col>
        
    </ons-row>

    <div id="landing">
        <div class="card">
            <div class="card-name">Route Finder</div>
            <div class="card-desc">観光ルート検索</div>
        </div>
    </div>
        

    <div style="margin-top: 0px;">

        <div style="margin-top: 20px;">
            <ons-list-header style="font-weight: 600; font-size: 24px; text-align:center; padding: 36px 0 8px 0;">特別な観光ルート</ons-list-header>
            <ons-list-header style="font-size: 18px; text-align:center; padding: 0px 0 36px 0;">あたらしい道を見つけよう</ons-list-header>

            <ons-list-item ng-repeat="tag in tagData.category" modifier="chevron" id="category-list" class="list-item-container" ng-click="click_search(tag.value)">
              <div class="list-item-left">
                <img src="{{tag.img_url}}" class="route-img">
              </div>
              <div class="list-item-right">
                <div class="list-item-content">
                  <span class="category-label">{{tag.key}}</span>
                </div>
              </div>
            </ons-list-item>

        </div>

        <div style="margin-top: 20px;">
            <ons-list-header style="font-weight: 600; font-size: 24px; text-align:center; padding: 36px 0 8px 0;">みんなの観光ルート</ons-list-header>
            <ons-list-header style="font-size: 18px; text-align:center; padding: 0px 0 36px 0;">あなたに近い人は<br>どんなところに行ってる？</ons-list-header>

            <ons-list-item ng-repeat="tag in tagData.user" modifier="chevron" id="category-list" class="list-item-container" ng-click="click_search(tag.value)">
              <div class="list-item-left">
                <img src="{{tag.img_url}}" class="route-img">
              </div>
              <div class="list-item-right">
                <div class="list-item-content">
                  <span class="category-label">{{tag.key}}</span>
                </div>
              </div>
            </ons-list-item>

        </div>

<!--    
        <ul class="tags">    
            <li ng-repeat="tag in tagData.category"><a href="#" ng-click="search(tag)"><span>{{tag}}</span></a></li>
        </ul>
-->

    <div>

</ons-page>