/* This is a CSS file */

input[type="search"].search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

#search-area {
    background: #4169E1;
    height: 71px;
    position: fixed !important;   /* fixed header */
    position: absolute;  /* fixed header */
    z-index: 999;        /* fixed header */ 
}
.search-input {
  padding: 0px;
  margin: 15px 5px 10px 5px;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 22px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 42px;
  font-size: 18px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1f1f21;
  padding: 4px 0 0 38px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: url("data:image/svg+xml;utf8,<svg width='41px' height='40px' viewBox='0 0 41 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'><title>Slice 1</title><description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description><defs></defs><g id='Page 1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='search' fill='#C6C8C8'><path d='M0.504,16.338 C0.504,25.085 7.635,32.165 16.444,32.165 C25.24,32.165 32.382,25.085 32.382,16.338 C32.382,7.591 25.24,0.5 16.444,0.5 C7.635,0.5 0.504,7.591 0.504,16.338 L0.504,16.338 Z M5.555,16.338 C5.555,10.359 10.423,5.521 16.445,5.521 C22.455,5.521 27.333,10.36 27.333,16.338 C27.333,22.317 22.455,27.156 16.445,27.156 C10.423,27.156 5.555,22.316 5.555,16.338 L5.555,16.338 Z M27.666,30.861 L34.521,38.67 C35.625,39.772 36.338,39.781 37.46,38.67 L39.661,36.489 C40.743,35.408 40.811,34.711 39.661,33.568 L31.765,26.793 L27.666,30.861 L27.666,30.861 Z M27.666,30.861' id='Shape'></path></g></g></svg>");
  background-position: 8px center;
  background-repeat: no-repeat;
  -webkit-background-size: 22px;
  background-size: 22px;
  font-weight: 400;
  display: block;
  width: 97%;
  position: fixed !important;   /* fixed header */
  position: absolute;  /* fixed header */
  z-index: 999;        /* fixed header */
}
.search-input:focus {
  background-color: #f9f9f9;
  color: #1f1f21;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration {
  margin-right: 5px;
}
.search-input::-webkit-input-placeholder,
.search-input::-moz-placeholder,
.search-input::-ms-input-placeholder {
  color: #999;
}
.search-input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

#scene {
    background-color: white;
    border-bottom: 0.8px solid black;  
    margin-top: 71px;
    margin-bottom: 5px;
}

.action-col {
  text-align: center;
  opacity: 0.9;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 1.0;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.date {
    border-top: 5px solid #ef5c5d;
    color: #ef5c5d;
}
.friend {
    border-top: 5px solid #c9c611;
    color: #c9c611;
}
.family {
    border-top: 5px solid #a381d1;
    color: #a381d1;
}
.single {
    border-top: 5px solid #ffbb00;
    color: #ffbb00;
}

/* top image */
.landing-wrapper {
    background: #fff;
}
.section {
    display: block;
    position: relative;
    z-index: 50;
}

@media screen and (max-width: 480px) {
    #landing {
        padding: 50px 0;
        height: auto;
        background: #fff url(../img/bg-panel.jpg) no-repeat bottom center;
    }
}

@media screen and (max-width: 768px) {
    #landing {
        padding: 60px 0;
        height: auto;
        background: #fff url(../img/bg-panel.jpg) no-repeat bottom center;
    }
}

#landing {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align: center;
    background: #fff url(../img/bg-panel.jpg) no-repeat bottom center;
    overflow: hidden;
}

.card {
  background-size: cover;
  color: black;
  height: 30%;
  width:100%;
  margin-bottom: 10px;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 700;
  font-size: 36px;
  padding: 0
  text-align: center;
}

.card-desc {
  font-size: 20px;
  font-weight: 400;
  opacity: 0    
  text-align: center;
  line-height: 1.4;
}
#category-list.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 0!important;
  margin: 0!important;
}

.route-img {
    width: 100%;
    height: auto;
}
.category-label {
    position: absolute;
    top: 15px;
    left: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

/* tag css
ul.tags {
    margin: 0;
    padding: 9px;
	list-style: none;
}
ul.tags li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 0;
}
ul.tags li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #3498db;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
ul.tags li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #3498db transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
ul.tags li a::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
ul.tags li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
ul.tags li a:hover {
	background-color: #555;
	color: #fff;
}
ul.tags li a:hover::before {
	border-right-color: #555;
}
*/